
# Created by https://www.gitignore.io/api/java,maven,windows,intellij

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

node_modules/
coverage/
.env
dist/
/BackEnd/target
.idea/
.vscode/
/BackEnd/*.iml
/BackEnd/docs
